/lastchance/LastChance/target/
/laskarit/viikko2/mavenproject1/nbproject/
/laskarit/viikko2/mavenproject1/target/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/lastchance/target/
/lastchance/nbproject/
